Sets
- no duplicate (ignore duplicate elements)

Methods
    - add() -- add element

    - remove() -- remove element

    - pop() -- remove first element

    - discard() -- remove element if exist

    - clear() -- make set empty

    - union() -- make union

    - intersection() -- common elements

    - intersection_update() -- common element from first set

    - difference() -- difference

    - symmetric_difference() -- remove common elements

    - issubset() -- set1.issubset(set2)

    - issuperset() -- set1.isuperset(set2)

    Application: -- Counting unique words

In [1]:
# declare
my_set = set()
print(type(my_set))

<class 'set'>

In [11]:
my_empty_set = set([1,2,3,4,5,6,6,7])
my_empty_set

{1, 2, 3, 4, 5, 6, 7}

In [13]:
# Basic operations

# adding element

my_set.add(7)
my_set.add(8)
my_set

{7, 8}

In [14]:
# Removing element
my_set.remove(7)
my_set

{8}

In [15]:
my_set.discard(10)
my_set

{8}

In [16]:
removed_element = my_set.pop()
print(removed_element)
print(my_set)

8
set()

In [18]:
my_set.add(1)

In [19]:
# clear all the elements
my_set.clear()
my_set

set()

In [21]:
# set membership tets
# whether that member is present or not

my_set = {1,2,3,4,5}
print(3 in my_set)
print(10 in my_set)

True
False

In [22]:
# Mathematical Operation

set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8,9}

# Union
union_set = set1.union(set2)

# Intersection
intersection_set = set1.intersection(set2)

print(union_set)
print(intersection_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5}

In [23]:
set1.intersection_update(set2)
print(set1)
print(set2)

{4, 5}
{4, 5, 6, 7, 8, 9}

In [27]:
set2.difference(set1)

{6, 7, 8, 9}

In [28]:
# symmentric difference
set1.symmetric_difference(set2)

{6, 7, 8, 9}

In [32]:
## is subset

set_1 = {1,2,3}
set_2 = {2}
set_2.issubset(set_1)

True

In [33]:
set_1.issuperset(set_2)

True

In [1]:
lst = [1,23,3,434,1,234,4,5]
set(lst)

{1, 3, 4, 5, 23, 234, 434}

In [36]:
# counting unique words in text
text = "This is a data science interview questions for data scietists"
word = text.split(' ')
print(set(word), len(set(word)))

{'science', 'scietists', 'questions', 'data', 'for', 'is', 'a', 'interview', 'This'} 9