In [2]:
# Write a Python program to find the area of a triangle.
def area_trainagle(base, height):
    area = (base*height)/2
    return area
area_trainagle(4,5)

10.0

In [9]:
# Write a Python program to swap two variables.
def swap_nos(a,b):
    # temp = a
    # a = b
    # b = temp
    return(b,a)
swap_nos(4,5)

(5, 4)

In [19]:
# Write a Python program to generate a random number.
import random
def random_no():
    random1 = random.randint(1,10)
    return random1
random_no()

7

In [28]:
# Write a Python program to display calendar.
import calendar

cal = calendar.month(2024,1)
print(cal)

    January 2024
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

In [ ]:
# Write a Python program to solve quadratic equation.
#sol: −𝑏 ± (𝑏 − 4𝑎𝑐 )/(2𝑎)

def quadratic_eq(a,b,c):
    solution1 = -b + (b**2 - 4*a*c)**0.5 / (2*a)
    solution2 = -b - (b**2 - 4*a*c)**0.5 / (2*a)
    return (solution1,solution2)
quadratic_eq(5,3,4)

((-3+0.8426149773176359j), (-3-0.8426149773176359j))

In [40]:
# Write a Python Program to Check Leap Year.
def leap_year(year):
    if year % 4 == 0 or year % 100 == 0:
        return 'Leap Year'
    else:
        print('No Leap Year')
leap_year(2025)

No Leap Year

In [50]:
# Write a Python Program to Check Prime Number.

def prime_no(no):
    if no % 2 == 0:
        print('no Prime')
    else:
        for i in range(2,no):
            if no % i == 0:
                print('no Prime')
            else:
                return 'Prime'
prime_no(5)

'Prime'

In [51]:
# Python program to display all the prime numbers within an interval

for num in range(1,10):
    if num>1:
        for i in range(2, num):
            if num % i == 0:
                break
        else:
            print(num)

2
3
5
7

In [54]:
# Write a Python Program to Find the Factorial of a Number.
def factorial(n):
    fact = 1
    for i in range(1,n+1):
        fact = fact *i
    return fact
factorial(10)

3628800

In [57]:
# Write a Python Program to Display the multiplication Table.
x = 10
mul_table = [x*i for i in range(1,11)]
mul_table

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [73]:
# Write a Python Program to Print the Fibonacci sequence.
# 0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, and so on.

def fib(n):
    if n == 0:
        return []
    elif n ==1 :
        return [0]
    elif n == 2:
        return [0,1]
    lst = [0,1]
    for i in range(2,n):
        lst.append (lst[i-1] + lst[i-2])
    return lst
    
fib(10)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [ ]:
# Write a Python Program to Check Armstrong Number?

In [76]:
# Write a Python Program to Find the Sum of Natural Numbers.[]

In [85]:
# largest element from list
lst = [1,2,3,100,1]
largest = lst[0]
for i in range(len(lst)):
    if lst[i]> largest:
        largest = lst[i]
print(largest)

100

In [86]:
# remove duplicates from list
remove_lst = []
for i in lst:
    if i not in remove_lst:
        remove_lst.append(i)
print(remove_lst)

[1, 2, 3, 100]

In [95]:
lst1= [1,2,10,4,6]
lst1[3:]+lst1[:3]

[4, 6, 1, 2, 10]

In [99]:
d = {}
for i,j in zip(lst,lst1):
    d[i]= j
d

{1: 6, 2: 2, 3: 10, 100: 4}

In [101]:
s = 'hey hey hey'
se = set(s.split(' '))
se

{'hey'}

In [103]:
s.count('hey')

3

In [105]:
s.split()

['hey', 'hey', 'hey']

In [106]:
s.split(' ')

['hey', 'hey', 'hey']

In [111]:
a = 'hey'
list(s)

['h', 'e', 'y', ' ', 'h', 'e', 'y', ' ', 'h', 'e', 'y']

In [7]:
# factorial

def factorial(no):
    fact =1
    for i in range(1,no+1):
        fact = i*fact
    return fact
factorial(5)

120

In [26]:
# # Python program to find H.C.F of two numbers

def hcf(a,b):
    hcf1 =1
    if a>b:
        a = b

    for i in range(2,a+1):
        if a%i == 0 and b% i == 0:
            hcf1 = i
    return hcf1
hcf(15,30)

15

In [36]:
# Write a Python Program to Convert Decimal to Binary, Octal and Hexadecimal.

# def conversion(no, system):
#     str1 = ''
#     while no>system:
#         rem = no% system
#         str1 = str1+ str(rem)
#     return (str1)
# conversion(10,2)
bin(8)

'0b1000'

In [38]:
# ASCII
ord('K')

75

In [40]:
sorted('kalyani')

['a', 'a', 'i', 'k', 'l', 'n', 'y']

In [42]:
sorted([1,27,2])

[1, 2, 27]

In [2]:
my_str = 'This is data sciencce interview preparation'
# breakdown the string into a list of words
words = [word.capitalize() for word in my_str.split()]
# sort the list
words.sort()
# display the sorted words
print("The sorted words are:")
for word in words:
 print(word)
 print(words)

The sorted words are:
Data
['Data', 'Interview', 'Is', 'Preparation', 'Sciencce', 'This']
Interview
['Data', 'Interview', 'Is', 'Preparation', 'Sciencce', 'This']
Is
['Data', 'Interview', 'Is', 'Preparation', 'Sciencce', 'This']
Preparation
['Data', 'Interview', 'Is', 'Preparation', 'Sciencce', 'This']
Sciencce
['Data', 'Interview', 'Is', 'Preparation', 'Sciencce', 'This']
This
['Data', 'Interview', 'Is', 'Preparation', 'Sciencce', 'This']

In [12]:
# Write a Python Program to Remove Punctuation From a String.
# define punctuation
punctuations = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''
my_str = 'cudeu215454646789@#$%^'
no_punc = ''
for char in my_str:
    if char not in punctuations:
        no_punc = no_punc + char
print(no_punc)

cudeu215454646789

<>:3: SyntaxWarning: invalid escape sequence '\,'
<>:3: SyntaxWarning: invalid escape sequence '\,'
C:\Users\Kalyani\AppData\Local\Temp\ipykernel_22768\3164051168.py:3: SyntaxWarning: invalid escape sequence '\,'
  punctuations = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''