# Pandas

In [11]:
import pandas as pd

In [3]:
pd.DataFrame({'YES':[10], 'NO':[20]})

   YES  NO
0   10  20

In [4]:
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 'Sue': ['Pretty good.', 'Bland.']})

             Bob           Sue
0    I liked it.  Pretty good.
1  It was awful.        Bland.

We are using the pd.DataFrame() constructor to generate these DataFrame objects

In [6]:
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.','I dont like it'], 
              'Sue': ['Pretty good.', 'Bland.', 'ok']},
             index=['Product A', 'Product B', 'Product C'])

                      Bob           Sue
Product A     I liked it.  Pretty good.
Product B   It was awful.        Bland.
Product C  I dont like it            ok

Series

- A Series, by contrast, is a sequence of data values. If a DataFrame is a table, a Series is a list. And in fact you can create one with nothing more than a list:

In [9]:
pd.Series([1,2,3,4,5],[1,0,2,3,4])

1    1
0    2
2    3
3    4
4    5
dtype: int64

A Series is, in essence, a single column of a DataFrame. So you can assign row labels to the Series the same way as before, using an index parameter. However, a Series does not have a column name, it only has one overall name:

In [12]:
pd.Series([30, 35, 40], index = ['2015 Sales', '2016 Sales', '2017 Sales'], name='Product A')

2015 Sales    30
2016 Sales    35
2017 Sales    40
Name: Product A, dtype: int64

The Series and the DataFrame are intimately related. It's helpful to think of a DataFrame as actually being just a bunch of Series "glued together".

In [14]:
df = pd.read_csv('C:\Kalyani Pakhale\data-science-Interview\FAST-API\BankNote_Authentication.csv')

<>:1: SyntaxWarning: invalid escape sequence '\K'
<>:1: SyntaxWarning: invalid escape sequence '\K'
C:\Users\Kalyani\AppData\Local\Temp\ipykernel_19096\1901506610.py:1: SyntaxWarning: invalid escape sequence '\K'
  df = pd.read_csv('C:\Kalyani Pakhale\data-science-Interview\FAST-API\BankNote_Authentication.csv')

In [15]:
df.head()

   variance  skewness  curtosis  entropy  class
0   3.62160    8.6661   -2.8073 -0.44699      0
1   4.54590    8.1674   -2.4586 -1.46210      0
2   3.86600   -2.6383    1.9242  0.10645      0
3   3.45660    9.5228   -4.0112 -3.59440      0
4   0.32924   -4.4552    4.5718 -0.98880      0

In [37]:
df['variance'][df['class']==0]

0      3.6216
1      4.5459
        ...
760    3.2414
761    2.2504
Name: variance, Length: 762, dtype: float64

In [16]:
df.shape

(1372, 5)

In [17]:
# display maximum rows
pd.set_option('display.max_rows', 5)

In [20]:
df['class'][0]

np.int64(0)

In [21]:
df.iloc[0]

variance    3.62160
skewness    8.66610
curtosis   -2.80730
entropy    -0.44699
class       0.00000
Name: 0, dtype: float64

In [25]:
df.iloc[:, 1]

0       8.66610
1       8.16740
         ...
1370   -8.38270
1371   -0.65804
Name: skewness, Length: 1372, dtype: float64

In [26]:
df.iloc[1:3 , 0]

1    4.5459
2    3.8660
Name: variance, dtype: float64

In [30]:
df.loc[1,'class']

np.int64(0)

In [31]:
round(-2.01)

-2

In [41]:
df.set_index('variance')

          skewness  curtosis  entropy  class
variance
 3.6216    8.66610   -2.8073 -0.44699      0
 4.5459    8.16740   -2.4586 -1.46210      0
...            ...       ...      ...    ...
-3.5637   -8.38270   12.3930 -1.28230      1
-2.5419   -0.65804    2.6842  1.19520      1

[1372 rows x 4 columns]

In [42]:
df.entropy>1

0       False
1       False
        ...
1370    False
1371     True
Name: entropy, Length: 1372, dtype: bool

In [44]:
df.loc[df.entropy>1]

      variance  skewness  curtosis  entropy  class
15      4.6765  -3.38950    3.4896   1.4771      0
29      4.8906  -3.35840    3.4202   1.0905      0
...        ...       ...       ...      ...    ...
1344    1.3451   0.23589   -1.8785   1.3258      1
1371   -2.5419  -0.65804    2.6842   1.1952      1

[124 rows x 5 columns]

In [51]:
df.loc[(df.entropy > 1) & (df.curtosis>1)]

      variance  skewness  curtosis  entropy  class
15      4.6765  -3.38950    3.4896   1.4771      0
29      4.8906  -3.35840    3.4202   1.0905      0
...        ...       ...       ...      ...    ...
1342   -1.7479  -5.82300    5.8699   1.2120      1
1371   -2.5419  -0.65804    2.6842   1.1952      1

[87 rows x 5 columns]

In [52]:
df['boolean'] = df['entropy']>1
df.head()

   variance  skewness  curtosis  entropy  class  boolean
0   3.62160    8.6661   -2.8073 -0.44699      0    False
1   4.54590    8.1674   -2.4586 -1.46210      0    False
2   3.86600   -2.6383    1.9242  0.10645      0    False
3   3.45660    9.5228   -4.0112 -3.59440      0    False
4   0.32924   -4.4552    4.5718 -0.98880      0    False

In [56]:
df['a'] = 'a'
df.head()

   variance  skewness  curtosis  entropy  class  boolean  a
0   3.62160    8.6661   -2.8073 -0.44699      0    False  a
1   4.54590    8.1674   -2.4586 -1.46210      0    False  a
2   3.86600   -2.6383    1.9242  0.10645      0    False  a
3   3.45660    9.5228   -4.0112 -3.59440      0    False  a
4   0.32924   -4.4552    4.5718 -0.98880      0    False  a

In [59]:
df.loc[df.a.isin(['a'])]

      variance  skewness  curtosis  entropy  class  boolean  a
0       3.6216   8.66610   -2.8073 -0.44699      0    False  a
1       4.5459   8.16740   -2.4586 -1.46210      0    False  a
...        ...       ...       ...      ...    ...      ... ..
1370   -3.5637  -8.38270   12.3930 -1.28230      1    False  a
1371   -2.5419  -0.65804    2.6842  1.19520      1     True  a

[1372 rows x 7 columns]

In [65]:
import numpy as np
df['great_var'] = np.where(df['variance']>3, 'abc', 'no_abc')
df.head()

   variance  skewness  curtosis  entropy  class  boolean  a great_var
0   3.62160    8.6661   -2.8073 -0.44699      0    False  a       abc
1   4.54590    8.1674   -2.4586 -1.46210      0    False  a       abc
2   3.86600   -2.6383    1.9242  0.10645      0    False  a       abc
3   3.45660    9.5228   -4.0112 -3.59440      0    False  a       abc
4   0.32924   -4.4552    4.5718 -0.98880      0    False  a    no_abc

In [66]:
# Assigning data¶
df['critic'] = 'everyone'
df['critic']

0       everyone
1       everyone
          ...
1370    everyone
1371    everyone
Name: critic, Length: 1372, dtype: object

In [67]:
df.variance.mean()

np.float64(0.4337352570699707)